<?xml version="1.0"?>
<Config>
    <ApplicationPeriod>100000</ApplicationPeriod>
    <ApplicationDataSize>0.01</ApplicationDataSize>
    <Granularity>3600</Granularity>
    <Battery>
        <InitialEnergy>13500000</InitialEnergy>
        <BatteryLeakage>5.0</BatteryLeakage>
        <CutOffThreshold>10.0</CutOffThreshold>
    </Battery>
    <PowerConsumption HWName="nRF51822">
        <Rx>42.3</Rx>
        <Tx>37.2</Tx>
        <CPUIdle>13.2</CPUIdle>
        <Sleep>0.0078</Sleep>
    </PowerConsumption>
    <Sensor Name="Generic_Sensor">
        <StaticPower>1</StaticPower>
        <DynamicPower SetPoint="1">
            <DataRate>1</DataRate>
            <Power>1</Power>
            <AcquireTime>1</AcquireTime>
        </DynamicPower>
        <DynamicPower SetPoint="2">
            <DataRate>1</DataRate>
            <Power>1</Power>
            <AcquireTime>1</AcquireTime>
        </DynamicPower>
    </Sensor>
    <ProcAlgo Name="Algo1">
        <ProcTimePerBit>1</ProcTimePerBit>
    </ProcAlgo>
    <CommProtocol>
        <Techno Name="BLE5.0">
            <MaxPacketSize>245</MaxPacketSize>
            <PHYRate>1</PHYRate>
            <PHYOverhead>64</PHYOverhead>
            <MACOverhead>48</MACOverhead>
            <IPv6Overhead>16</IPv6Overhead>
            <SynchroPeriod>32000</SynchroPeriod>
            <ClockAccuracy>inf</ClockAccuracy>
            <PacketDeliveryRatio>100</PacketDeliveryRatio>
            <TechnoSpecificParam>
                <TIFS>150</TIFS>
                <LLDataHeader>32</LLDataHeader>
            </TechnoSpecificParam>
        </Techno>
        <Techno Name="802.11ah9_16">
            <MaxPacketSize>1280</MaxPacketSize>
            <PHYRate>78.0</PHYRate>
            <PHYOverhead>240</PHYOverhead>
            <MACOverhead>80</MACOverhead>
            <IPv6Overhead>320</IPv6Overhead>
            <SynchroPeriod>163830000000</SynchroPeriod>
            <ClockAccuracy>inf</ClockAccuracy>
            <PacketDeliveryRatio>100</PacketDeliveryRatio>
            <TechnoSpecificParam>
                <SIFS>160.0</SIFS>
                <DIFS>264</DIFS>
                <Backoff>0</Backoff>
                <FC>2</FC>
                <Duration>2</Duration>
                <SenderAddress>6</SenderAddress>
                <FCS>4</FCS>
                <Timestamp>4</Timestamp>
                <BI>2</BI>
                <Capability>2</Capability>
                <IEHeader>2</IEHeader>
                <SSID>0</SSID>
                <Rates>1</Rates>
                <DSParameterSet>1</DSParameterSet>
                <TIM>4</TIM>
            </TechnoSpecificParam>
        </Techno>
    </CommProtocol>
    <TraceFile>./DeviceLifetimeEvents.xml</TraceFile>
</Config>
